.git
.github
.gitignore
.scannerwork
.vscode
.pre-commit-config.yaml
.gitleaksignore
.coverage
.coveragerc
.semgrepignore
.DS_Store
.pytype/
.ruff_cache/
.venv/
.flake8
__py_cache__/
*.md
LICENSE.txt
reports/
wordlists/
logs/
src/backend/tests/*
src/frontend/node_modules/*