.git
.github
.gitignore
.mypy_cache
.scannerwork
.vscode
.src/flake8
.pre-commit-config.yaml
.gitleaksignore
.coveragerc
src/mypy.ini
*.md
src/reports/
src/wordlists/
src/logs/
src/frontend/node_modules/*
src/backend/testing/*
.DS_Store