.git
.github
.gitignore
.mypy_cache
.scannerwork
.vscode
.pre-commit-config.yaml
.gitleaksignore
.coveragerc
.semgrepignore
src/backend/.mypy.ini
src/backend/requirements-dev.txt
src/backend/tests/*
*.md
LICENSE.txt
src/reports/
src/wordlists/
src/logs/
src/frontend/node_modules/*
.DS_Store