[flake8]
; ignore = 
;     # Complex methods
;     C901,
;     # Line break before binary operator
;     W503
exclude = .git,__pycache__,*/migrations/*,venv/*,rekono/frontend/*
max-line-length = 120
max-complexity = 10