# Byte-compiled / optimized / DLL files
__pycache__/


# Unit test / coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ruff
.ruff_cache/

# pytype
.pytype

# Envionment
.DS_Store
.vscode/
reports/
wordlists/
logs/
/src/backend/tests/home/

# Vue.js and Nuxt
node_modules/
dist_electron/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.nuxt/
.output/

# Debian package
*.desktop
rekono-kbx
*.kaboxer.yaml

# Temporal ignore
migrations/