version: '3.8'

services:
  postgres:
    restart: always
    image: postgres:14.2-alpine
    hostname: postgres
    container_name: postgres
    user: postgres
    expose:
      - 5432
    healthcheck:
      test: pg_isready
      interval: 10s
      timeout: 3s
      retries: 10
    volumes:
      - postgres:/var/lib/postgresql/data/
    networks:
      - internal
    environment:
      - POSTGRES_DB=rekono
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  
  redis:
    restart: always
    image: redis:6.2.6-alpine
    hostname: redis
    container_name: redis
    user: redis
    expose:
      - 6379
    networks:
      - internal

  initializer:
    restart: 'no'
    image: rekono-kali:latest
    command: sh -c "python manage.py migrate && python manage.py createsuperuser --no-input"
    container_name: initialize
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - REKONO_HOME=/rekono
      - DJANGO_SUPERUSER_EMAIL=${RKN_EMAIL:-rekono@rekono.com}
      - DJANGO_SUPERUSER_USERNAME=${RKN_USERNAME:-rekono}
      - DJANGO_SUPERUSER_PASSWORD=${RKN_PASSWORD:-rekono}
  
  tasks-worker:
    restart: always
    image: rekono-backend:latest
    command: python manage.py rqworker tasks-queue
    hostname: tasks-worker
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - REKONO_HOME=/rekono

  executions-worker:
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile.kali
    image: rekono-kali:latest
    command: python manage.py rqworker executions-queue
    hostname: executions-worker
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
      - external
    cap_add:
      - NET_ADMIN
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - REKONO_HOME=/rekono

  findings-worker:
    restart: always
    image: rekono-backend:latest
    command: python manage.py rqworker findings-queue
    hostname: findings-worker
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
      - external
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - REKONO_HOME=/rekono
    
  emails-worker:
    restart: always
    image: rekono-backend:latest
    command: python manage.py rqworker emails-queue
    hostname: emails-worker
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
      - external
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - REKONO_HOME=/rekono

  telegram-bot:
    restart: always
    image: rekono-backend:latest
    command: python manage.py telegram_bot
    hostname: telegram_bot
    container_name: telegram-bot
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
      - external
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - REKONO_HOME=/rekono
  
  backend:
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    image: rekono-backend:latest
    command: python manage.py runserver 0.0.0.0:8000
    hostname: backend
    container_name: backend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/schema/swagger-ui.html"]
      interval: 10s
      timeout: 5s
      retries: 10
    expose:
      - 8000
    volumes:
      - rekono:/rekono
      - ./config.yaml:/rekono/config.yaml:ro
    networks:
      - internal
      - external
    depends_on:
      - initializer
      - redis
    environment:
      - RKN_DB_HOST=postgres
      - RKN_DB_USER=postgres
      - RKN_DB_PASSWORD=postgres
      - RKN_RQ_HOST=redis
      - RKN_TRUSTED_PROXY=true
      - RKN_ALLOWED_HOSTS=*
      - REKONO_HOME=/rekono
  
  frontend:
    restart: always
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    image: rekono-frontend:latest
    hostname: frontend
    container_name: frontend
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/#/login"]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 30s
    expose:
      - 3000
    networks:
      - internal

  nginx:
    restart: always
    build:
      context: .
      dockerfile: docker/nginx/Dockerfile
    image: rekono-nginx:latest
    hostname: nginx
    container_name: nginx
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/nginx/tls/:/etc/nginx/tls/
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy
    networks:
      - internal
      - external

volumes:
  postgres:
  rekono:

networks:
  internal:
    internal: true
  external:
