coverage==6.3.1
defusedxml==0.7.1
Django==3.2.23
djangorestframework==3.12.4
djangorestframework-simplejwt==5.2.2
django-filter==21.1
django-rq==2.4.1
django-taggit==2.0.0
drf-spectacular==0.25.1
pycryptodome==3.11.0
psycopg2==2.9.5
pyjwt==2.4.0
python-magic==0.4.24
python-libnmap==0.7.3
python-telegram-bot==13.7
pyyaml==6.0.1
requests==2.31.0
rq==1.13.0
setuptools==65.6.3
stringcase==1.2.0
tornado==6.3.2