<!doctype html>
<html>
    <head>
        <style>
            img { zoom: 50%; }
            table { -pdf-keep-with-next: false; }
            p { -pdf-keep-with-next: false; }
            @page {
                size: A4 portrait;
                @frame content_frame {
                    left: 50pt; width: 512pt; top: 50pt; height: 632pt;
                }
                @frame footer_frame {
                    -pdf-frame-content: footer_content;
                    left: 50pt; width: 512pt; top: 775pt; height: 20pt;
                }
            }
            h1 { -pdf-outline: false; }
            h2 { font-size: 35px; }
            h3 { font-size: 20px; }
            h4 { font-size: 15px; }
            pdftoc { color: #666; }
            pdftoc.pdftoclevel1 {
                font-weight: bold;
                margin-top: 0.5em;
            }
            pdftoc.pdftoclevel2 {
                margin-left: 1em;
            }
            pdftoc.pdftoclevel3 {
                margin-left: 2em;
                font-style: italic;
            }
            .white { color: white; }
            .center { text-align: center; }
            .relevant { font-size: 12px }
            .port { color: orange; }
            .port.open { color: green; }
            .port.closed { color: red; }
            .critical { color: red; }
            .high { color: orange; }
            .medium { color: blue; }
            .badge.low { color: green; }
            .badge.info { color: black; }
        </style>
    </head>
    <body>
        <div id="footer_content">© 2024 Rekono Mantainers  -  <pdf:pagenumber> of <pdf:pagecount></div>
        <div>
            {% load static %}
            <div class="center">
                <br>
                <h1 style="font-size:100px;">{{  project.name }}</h1>
                <div style="width:1000px; margin-top:150px;">
                    <img src="{% static 'logo-black.png' %}" alt="Rekono""/>
                </div>
                <pdf:nextpage>
            </div>
            <h1 style="font-size:20px">Table of Contents</h1>
            <div>
                <pdf:toc />
            </div>
            <pdf:nextpage>
            <div>
                <h2>Summary</h2>
                <p class="relevant">{{ project.description|default_if_none:"" }}</p>
            </div>
            {% if stats|join:"," != "0,0,0,0,0" %}
                <br>
                <br>
                <br>
                <br>
                <div>
                    <canvas type="graph" width="320" height="190">
                        {
                                "data": [{{ stats }}],
                                "labels": ["Critical", "High", "Medium", "Low", "Info"],
                                "title": {"_text": "Vulnerabilities by Severity", "x": 280, "y": 180},
                                "type": "verticalbar",
                                "x": 190, "y": 50,
                                "barLabelFormat": "%s",
                                "bars": {"strokeColor": "#f01f34"},
                                "barLabels": {"nudge": 10}
                        }
                    </canvas>
                </div>
            {% endif %}
            <pdf:nextpage>
            {% for target in targets %}
                <h2>{{ target.target }}</h2>
                {% if targets|length > 1 %}
                    {% for key, items in stats_by_target.items %}
                        {% if key == target.id and items|join:"," != "0,0,0,0,0" %}
                            <br>
                            <br>
                            <br>
                            <br>
                            <canvas type="graph" width="320" height="190">
                                {
                                        "data": [{{ items }}],
                                        "labels": ["Critical", "High", "Medium", "Low", "Info"],
                                        "title": {"_text": "Vulnerabilities by Severity", "x": 280, "y": 180},
                                        "type": "verticalbar",
                                        "x": 190, "y": 50,
                                        "barLabelFormat": "%s",
                                        "bars": {"strokeColor": "#f01f34"},
                                        "barLabels": {"nudge": 10}
                                }
                            </canvas>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                
                {% for key, items in findings.items %}
                    {% if key == target.id %}

                        {% if items.OSINT %}
                            <h3>OSINT</h3>
                            <table repeat="1" border="1" cellspacing="1" cellpadding="5">
                                <thead class="white">
                                    <tr bgcolor="#dc3545">
                                        <th scope="col">Data</th>
                                        <th scope="col">Data type</th>
                                        <th scope="col">Source</th>
                                        <th scope="col">Reference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for o in items.OSINT %}
                                        <tr>
                                            <td>{{ o.data }}</td>
                                            <td class="center">{{ o.data_type }}</td>
                                            <td class="center">{{ o.source|default_if_none:"" }}</td>
                                            <td>
                                                {% if o.reference %}
                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                    <a href="{{ o.reference }}">Link</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <br>
                        {% endif %}

                        {% if items.Host %}
                            {% for h in items.Host %}
                                <h3>{{ h.Host.address }}</h3>
                                <p class="relevant">[{{ h.Host.os_type }}] {{ h.Host.os|default_if_none:"Unknown OS" }}</p>
                                {% if h.Port %}
                                    <h4>Ports & Technologies</h4>
                                    <table repeat="1" border="1" cellspacing="1" cellpadding="5">
                                        <thead class="white">
                                            <tr bgcolor="#dc3545">
                                                <th scope="col">Port</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Protocol</th>
                                                <th scope="col">Service</th>
                                                <th scope="col">Technologies</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in h.Port %}
                                                <tr>
                                                    <td class="center">{{ p.port }}</td>
                                                    <td class="center port {{ p.status|lower }}">{{ p.status }}</td>
                                                    <td class="center">{{ p.protocol|default_if_none:"" }}</td>
                                                    <td class="center">{{ p.service|default_if_none:"" }}</td>
                                                    <td>
                                                        <ul>
                                                        {% for t in h.Technology %}
                                                            {% if t.port.id == p.id %}
                                                                <li>
                                                                    {% if t.reference %}
                                                                        <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                        <a href="{{ t.reference }}">{{ t.name }}</a>
                                                                    {% else %}
                                                                        {{ t.name }}
                                                                    {% endif %}
                                                                    {% if t.version %}
                                                                        - {{ t.version }}
                                                                    {% endif %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                {% endif %}

                                {% if h.Vulnerability %}
                                    <h4>Vulnerabilities</h4>
                                    {% for v in h.Vulnerability %}
                                        {% if v.severity == "Critical" or v.severity == "High" %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Port</th>
                                                        <td width="60%">
                                                            {% if v.technology and v.technology.port %}
                                                                {{ v.technology.port.port }}
                                                            {% elif v.port %}
                                                                {{ v.port.port }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {% if v.technology.reference %}
                                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                    <a href="{{ v.technology.reference }}">{{ v.technology.name }}</a>
                                                                {% else %}
                                                                    {{ v.technology.name }}
                                                                {% endif %}
                                                                {% if v.technology.version %}
                                                                    - {{ v.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Name</th>
                                                        <td width="60%">{{ v.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Description</th>
                                                        <td width="60%">{{ v.description|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Severity</th>
                                                        <td width="60%" class="{{ v.severity|lower }}">{{ v.severity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CVE</th>
                                                        <td width="60%">{{ v.cve|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CWE</th>
                                                        <td width="60%">{{ v.cwe|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Exploits</th>
                                                        <td width="60%">
                                                            {% if h.Exploit %}
                                                                <ul>
                                                                    {% for e in h.Exploit %}
                                                                        {% if e.vulnerability.id == v.id %}
                                                                            {% if e.reference %}
                                                                                <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                                <li><a href="{{ e.reference }}">{{ e.title }}</a></li>
                                                                            {% else %}
                                                                                <li>{{ e.title }}</li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Reference</th>
                                                        <td width="60%">
                                                            {% if v.reference %}
                                                                <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                <a href="{{ v.reference }}">Link</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if h.Credential %}
                                    {% if not h.Vulnerability %}
                                        <h4>Vulnerabilities</h4>
                                    {% endif %}
                                    {% for c in h.Credential %}
                                        {% if c.secret %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Port</th>
                                                        <td width="60%">{{ c.technology.port.port }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if c.technology %}
                                                                {% if c.technology.reference %}
                                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                    <a href="{{ c.technology.reference }}">{{ c.technology.name }}</a>
                                                                {% else %}
                                                                    {{ c.technology.name }}
                                                                {% endif %}
                                                                {% if c.technology.version %}
                                                                    - {{ c.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Name</th>
                                                        <td width="60%">Credential found</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Description</th>
                                                        <td width="60%">
                                                            <p>{{ c.context|default_if_none:"" }}</p>
                                                            <ul>
                                                                {% if c.email %}
                                                                    <li>Email: {{ c.email }}</li>
                                                                {% endif %}
                                                                {% if c.username %}
                                                                    <li>Username: {{ c.username }}</li>
                                                                {% endif %}
                                                                <li>Secret: {{ c.secret }}</li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Severity</th>
                                                        <td width="60%" class="high">High</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CVE</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CWE</th>
                                                        <td width="20%">CWE-200</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Exploits</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Reference</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if h.Vulnerability %}
                                    {% for v in h.Vulnerability %}
                                        {% if v.severity == "Medium" or v.severity == "Low" %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Port</th>
                                                        <td width="60%">
                                                            {% if v.technology and v.technology.port %}
                                                                {{ v.technology.port.port }}
                                                            {% elif v.port %}
                                                                {{ v.port.port }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {% if v.technology.reference %}
                                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                    <a href="{{ v.technology.reference }}">{{ v.technology.name }}</a>
                                                                {% else %}
                                                                    {{ v.technology.name }}
                                                                {% endif %}
                                                                {% if v.technology.version %}
                                                                    - {{ v.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Name</th>
                                                        <td width="60%">{{ v.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Description</th>
                                                        <td width="60%">{{ v.description|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Severity</th>
                                                        <td width="60%" class="{{ v.severity|lower }}">{{ v.severity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CVE</th>
                                                        <td width="60%">{{ v.cve|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CWE</th>
                                                        <td width="60%">{{ v.cwe|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Exploits</th>
                                                        <td width="60%">
                                                            {% if h.Exploit %}
                                                                <ul>
                                                                    {% for e in h.Exploit %}
                                                                        {% if e.vulnerability.id == v.id %}
                                                                            {% if e.reference %}
                                                                                <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                                <li><a href="{{ e.reference }}">{{ e.title }}</a></li>
                                                                            {% else %}
                                                                                <li>{{ e.title }}</li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Reference</th>
                                                        <td width="60%">
                                                            {% if v.reference %}
                                                                <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                <a href="{{ v.reference }}">Link</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if h.Credential %}
                                    {% for c in h.Credential %}
                                        {% if not c.secret %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Port</th>
                                                        <td width="60%">{{ c.technology.port.port }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if c.technology %}
                                                                {% if c.technology.reference %}
                                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                    <a href="{{ c.technology.reference }}">{{ c.technology.name }}</a>
                                                                {% else %}
                                                                    {{ c.technology.name }}
                                                                {% endif %}
                                                                {% if c.technology.version %}
                                                                    - {{ c.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Name</th>
                                                        <td width="60%">User found</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Description</th>
                                                        <td width="60%">
                                                            <p>{{ c.context|default_if_none:"" }}</p>
                                                            <ul>
                                                                {% if c.email %}
                                                                    <li>Email: {{ c.email }}</li>
                                                                {% endif %}
                                                                {% if c.username %}
                                                                    <li>Username: {{ c.username }}</li>
                                                                {% endif %}
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Severity</th>
                                                        <td width="60%" class="low">Low</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CVE</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CWE</th>
                                                        <td width="20%">CWE-200</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Exploits</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Reference</th>
                                                        <td width="60%"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if h.Vulnerability %}
                                    {% for v in h.Vulnerability %}
                                        {% if v.severity == "Info" %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Port</th>
                                                        <td width="60%">
                                                            {% if v.technology and v.technology.port %}
                                                                {{ v.technology.port.port }}
                                                            {% elif v.port %}
                                                                {{ v.port.port }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {% if v.technology.reference %}
                                                                    <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href -->
                                                                    <a href="{{ v.technology.reference }}">{{ v.technology.name }}</a>
                                                                {% else %}
                                                                    {{ v.technology.name }}
                                                                {% endif %}
                                                                {% if v.technology.version %}
                                                                    - {{ v.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Name</th>
                                                        <td width="60%">{{ v.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Description</th>
                                                        <td width="60%">{{ v.description|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Severity</th>
                                                        <td width="60%" class="{{ v.severity|lower }}">{{ v.severity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CVE</th>
                                                        <td width="60%">{{ v.cve|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">CWE</th>
                                                        <td width="60%">{{ v.cwe|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Exploits</th>
                                                        <td width="60%">
                                                            {% if h.Exploit %}
                                                                <ul>
                                                                    {% for e in h.Exploit %}
                                                                        {% if e.vulnerability.id == v.id %}
                                                                            {% if e.reference %}
                                                                            <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                                <li><a href="{{ e.reference }}">{{ e.title }}</a></li>
                                                                            {% else %}
                                                                                <li>{{ e.title }}</li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" class="white" width="20%">Reference</th>
                                                        <td width="60%">
                                                            {% if v.reference %}
                                                            <!-- nosemgrep: javascript.express.security.audit.xss.mustache.var-in-href.var-in-href, python.django.security.audit.xss.template-href-var.template-href-var, python.flask.security.xss.audit.template-href-var.template-href-var -->
                                                                <a href="{{ v.reference }}">Link</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <pdf:nextpage>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>