<!doctype html>
<html>
    <head>
        <style>
            img { zoom: 50%; }
            table { -pdf-keep-with-next: false; }
            p { -pdf-keep-with-next: false; }
            @page {
                size: A4 portrait;
                @frame content_frame {
                    left: 50pt; width: 512pt; top: 50pt; height: 632pt;
                }
                @frame footer_frame {
                    -pdf-frame-content: footer_content;
                    left: 50pt; width: 512pt; top: 775pt; height: 20pt;
                }
            }
            h1 { -pdf-outline: false; }
            pdftoc {
                color: #666;
            }
            pdftoc.pdftoclevel1 {
                font-weight: bold;
                margin-top: 0.5em;
            }
            pdftoc.pdftoclevel2 {
                margin-left: 1em;
            }
            pdftoc.pdftoclevel3 {
                margin-left: 2em;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div id="footer_content">© 2024 Rekono Mantainers  -  <pdf:pagenumber> of <pdf:pagecount></div>
        <div>
            {% load static %}
            <div style="text-align:center;">
                <br>
                <h1 style="font-size:100px;">{{  project.name }}</h1>
                <div style="width:1000px; margin-top:150px;">
                    <img src="{% static 'logo-black.png' %}" alt="Rekono""/>
                </div>
                <pdf:nextpage>
            </div>
            <h1 style="font-size:20px">Table of Contents</h1>
            <div>
                <pdf:toc />
            </div>
            <pdf:nextpage>
            <h2 style="font-size:35px">Introduction</h2>
            <p>{{ project.description|default_if_none:"" }}</p>
            <!-- TODO: summary of vulnerabilities per severity -->
            <pdf:nextpage>
            <!-- TODO add severity with a badge and color -->
            <!-- TODO add OS type icon + os field content -->
            {% for target in targets %}
                <h2 style="font-size:35px">{{ target.target }}</h2>
                <!-- TODO: if there are more than one target): summary of vulnerabilities per severity per target -->
                {% for key, items in findings.items %}
                    {% if key == target.id %}

                        {% if items.OSINT %}
                            <h3 style="font-size:20px">OSINT</h3>

                            <table repeat="1" border="1" cellspacing="1" cellpadding="5">
                                <thead style="color: white;">
                                    <tr bgcolor="#dc3545">
                                        <th scope="col">Data</th>
                                        <th scope="col">Data type</th>
                                        <th scope="col">Source</th>
                                        <th scope="col">Reference</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for o in items.OSINT %}
                                        <tr>
                                            <td>{{ o.data }}</td>
                                            <td style="text-align:center;">{{ o.data_type }}</td>
                                            <td style="text-align:center;">{{ o.source|default_if_none:"" }}</td>
                                            <td>
                                                {% if o.reference %}
                                                    <a href="{{ o.reference }}">Link</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <br>
                            <br>
                        {% endif %}
                        {% if items.Host %}
                            {% for h in items.Host %}
                                <h3 style="font-size:20px">Host {{ h.Host.address }}</h3>
                                <p>OS type: {{ h.Host.os_type }}</p>
                                <p>OS: {{ h.Host.os|default_if_none:"Unknown" }}</p>
                                {% if h.Port %}
                                    <h4 style="font-size:15px">Ports & Technologies</h4>
                                    <table repeat="1" border="1" cellspacing="1" cellpadding="5">
                                        <thead style="color: white;">
                                            <tr bgcolor="#dc3545">
                                                <th scope="col">Port</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Protocol</th>
                                                <th scope="col">Service</th>
                                                <th scope="col">Technologies</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for p in h.Port %}
                                                <tr>
                                                    <td style="text-align:center;">{{ p.port }}</td>
                                                    <td style="text-align:center;">{{ p.status }}</td>
                                                    <td style="text-align:center;">{{ p.protocol|default_if_none:"" }}</td>
                                                    <td style="text-align:center;">{{ p.service|default_if_none:"" }}</td>
                                                    <td>
                                                        <ul>
                                                        {% for t in h.Technology %}
                                                            {% if t.port.id == p.id %}
                                                                <li>
                                                                    {% if t.reference %}
                                                                        <a href="{{ t.reference }}">{{ t.name }}</a>
                                                                    {% else %}
                                                                        {{ t.name }}
                                                                    {% endif %}
                                                                    {% if t.version %}
                                                                        - {{ t.version }}
                                                                    {% endif %}
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                        </ul>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <br>
                                    <br>
                                {% endif %}

                                {% if h.Vulnerability %}
                                    <h4 style="font-size:15px">Vulnerabilities</h4>
                                    {% for v in h.Vulnerability %}
                                        {% if v.severity == "Critical" or v.severity == "High" %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Port</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {{ v.technology.port }}
                                                            {% elif v.port %}
                                                                {{ v.port.port }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {% if v.technology.reference %}
                                                                    <a href="{{ v.technology.reference }}">{{ v.technology.name }}</a>
                                                                {% else %}
                                                                    {{ v.technology.name }}
                                                                {% endif %}
                                                                {% if v.technology.version %}
                                                                    - {{ v.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Name</th>
                                                        <td width="60%">{{ v.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Description</th>
                                                        <td width="60%">{{ v.description|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Severity</th>
                                                        <td width="60%">{{ v.severity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">CVE</th>
                                                        <td width="60%">{{ v.cve|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">CWE</th>
                                                        <td width="60%">{{ v.cwe|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Exploits</th>
                                                        <td width="60%">
                                                            {% if h.Exploit %}
                                                                <ul>
                                                                    {% for e in h.Exploit %}
                                                                        {% if e.vulnerability.id == v.id %}
                                                                            {% if e.reference %}
                                                                                <li><a href="{{ e.reference }}">{{ e.title }}</a></li>
                                                                            {% else %}
                                                                                <li>{{ e.title }}</li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Reference</th>
                                                        <td width="60%">
                                                            {% if v.reference %}
                                                                <a href="{{ v.reference }}">Link</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}

                                {% if h.Credential %}
                                    {% if not h.Vulnerability %}
                                        <h4 style="font-size:15px">Vulnerabilities</h4>
                                    {% endif %}
                                    {% for c in h.Credential %}
                                        <table border="1" cellspacing="1" cellpadding="5">
                                            <tbody>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Port</th>
                                                    <td width="60%">{{ c.technology.port }}</td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Technology</th>
                                                    <td width="60%">
                                                        {% if c.technology %}
                                                            {% if c.technology.reference %}
                                                                <a href="{{ c.technology.reference }}">{{ c.technology.name }}</a>
                                                            {% else %}
                                                                {{ c.technology.name }}
                                                            {% endif %}
                                                            {% if c.technology.version %}
                                                                - {{ c.technology.version }}
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Name</th>
                                                    <td width="60%">Credential found</td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Description</th>
                                                    <td width="60%">
                                                        <p>{{ c.context|default_if_none:"" }}</p>
                                                        <ul>
                                                            {% if c.email %}
                                                                <li>Email: {{ c.email }}</li>
                                                            {% endif %}
                                                            {% if c.username %}
                                                                <li>Username: {{ c.username }}</li>
                                                            {% endif %}
                                                            {% if c.secret %}
                                                                <li>Secret: {{ c.secret }}</li>
                                                            {% endif %}
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Severity</th>
                                                    <td width="60%">High</td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">CVE</th>
                                                    <td width="60%"></td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">CWE</th>
                                                    <td width="20%">CWE-200</td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Exploits</th>
                                                    <td width="60%"></td>
                                                </tr>
                                                <tr>
                                                    <th bgcolor="#dc3545" style="color: white;" width="20%">Reference</th>
                                                    <td width="60%"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                    {% endfor %}
                                {% endif %}

                                {% if h.Vulnerability %}
                                    {% for v in h.Vulnerability %}
                                        {% if v.severity != "Critical" and v.severity != "High" %}
                                            <table border="1" cellspacing="1" cellpadding="5">
                                                <tbody>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Port</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {{ v.technology.port }}
                                                            {% elif v.port %}
                                                                {{ v.port.port }}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Technology</th>
                                                        <td width="60%">
                                                            {% if v.technology %}
                                                                {% if v.technology.reference %}
                                                                    <a href="{{ v.technology.reference }}">{{ v.technology.name }}</a>
                                                                {% else %}
                                                                    {{ v.technology.name }}
                                                                {% endif %}
                                                                {% if v.technology.version %}
                                                                    - {{ v.technology.version }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Name</th>
                                                        <td width="60%">{{ v.name }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Description</th>
                                                        <td width="60%">{{ v.description|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Severity</th>
                                                        <td width="60%">{{ v.severity }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">CVE</th>
                                                        <td width="60%">{{ v.cve|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">CWE</th>
                                                        <td width="60%">{{ v.cwe|default_if_none:"" }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Exploits</th>
                                                        <td width="60%">
                                                            {% if h.Exploit %}
                                                                <ul>
                                                                    {% for e in h.Exploit %}
                                                                        {% if e.vulnerability.id == v.id %}
                                                                            {% if e.reference %}
                                                                                <li><a href="{{ e.reference }}">{{ e.title }}</a></li>
                                                                            {% else %}
                                                                                <li>{{ e.title }}</li>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                </ul>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th bgcolor="#dc3545" style="color: white;" width="20%">Reference</th>
                                                        <td width="60%">
                                                            {% if v.reference %}
                                                                <a href="{{ v.reference }}">Link</a>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <br>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <pdf:nextpage>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </body>
</html>