defusedxml==0.7.1
Django==4.2.7
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
django-filter==23.2
django-rq==2.8.1
django-taggit==4.0.0
drf-spectacular==0.26.4
pycryptodome==3.18.0
psycopg2-binary==2.9.6
pyjwt==2.7.0
python-magic==0.4.27
python-libnmap==0.7.3
python-telegram-bot==20.6
pyyaml==6.0.0
requests==2.31.0
rq==1.15.1
setuptools==68.0.0
stringcase==1.2.0
tornado==6.3.2