<!doctype html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>Rekono</title>
      </head>
    <body>
        <div class="card text-center">
            <div class="text-center">
                <img src="{{ rekono_url }}/static/logo-black.png" class="card-img-top" alt="Rekono" style="max-width: 30rem;"/>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ execution.task.target.project.name }}</h3>
                <div class="card-text">
                    <div class="container">
                        <div class="row justify-content-around">
                            <div class="col-3">
                                <div class="row">
                                    <p class="text-muted mr-2">Target</p>
                                    <p><strong>{{ execution.task.target.target }}</strong></p>
                                </div>
                                <div class="row">
                                    <p class="text-muted mr-2">Tool</p>
                                    <div>
                                        <img src="{{ tool.icon }}" width="20" height="20" alt="{{ tool.name }}"/>
                                        <strong>{{ tool.name }}</strong>
                                    </div>
                                </div>
                                <div class="row">
                                    <p class="text-muted mr-2">Configuration</p>
                                    <p>{{ configuration.name }}</p>
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="row">
                                    <p class="text-muted mr-2">Status</p>
                                    <p>{{ execution.status }}</p>
                                </div>
                                <div class="row">
                                    <p class="text-muted mr-2">Start</p>
                                    <p>{{ execution.start }}</p>
                                </div>
                                <div class="row">
                                    <p class="text-muted mr-2">End</p>
                                    <p>{{ execution.end }}</p>
                                </div>
                                <div class="row">
                                    <p class="text-muted mr-2">Executor</p>
                                    <p>{{ execution.task.executor.username }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{{ rekono_url }}/#/tasks/{{ execution.task.id }}" class="btn btn-danger">Review all details</a>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            {% if osint %}
                <table class="table">
                    <caption>OSINT</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Data type</th>
                            <th scope="col">Source</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for o in osint %}
                            <tr>
                                <td><strong>{{ o.data }}</strong></td>
                                <td>{{ o.data_type }}</td>
                                <td>{{ o.source }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if host %}
                <table class="table">
                    <caption>Hosts</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Address</th>
                            <th scope="col">OS</th>
                            <th scope="col">OS type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in host %}
                            <tr>
                                <td><strong>{{ h.address }}</strong></td>
                                <td>{{ h.os }}</td>
                                <td>{{ h.os_type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if enumeration %}
                <table class="table">
                    <caption>Enumerations</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Host</th>
                            <th scope="col">Port</th>
                            <th scope="col">Status</th>
                            <th scope="col">Protocol</th>
                            <th scope="col">Service</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in enumeration %}
                            <tr>
                                {% if e.host %}
                                    <td><strong>{{ e.host.address }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><strong>{{ e.port }}</strong></td>
                                <td>{{ e.port_status }}</td>
                                <td>{{ e.protocol }}</td>
                                <td>{{ e.service }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if endpoint %}
                <table class="table">
                    <caption>Endpoints</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Enumeration</th>
                            <th scope="col">Endpoint</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in endpoint %}
                            <tr>
                                {% if e.enumeration and e.enumeration.host %}
                                    <td><strong>{{ e.enumeration.host.address }} - {{ e.enumeration.port }}</strong></td>
                                {% elif e.enumeration %}
                                    <td><strong>{{ e.enumeration.port }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><strong>{{ e.endpoint }}</strong></td>
                                <td>{{ e.status }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if technology %}
                <table class="table">
                    <caption>Technologies</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Enumeration</th>
                            <th scope="col">Name</th>
                            <th scope="col">Version</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in technology %}
                            <tr>
                                {% if t.enumeration and t.enumeration.host %}
                                    <td><strong>{{ t.enumeration.host.address }} - {{ t.enumeration.port }}</strong></td>
                                {% elif t.enumeration %}
                                    <td><strong>{{ t.enumeration.port }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><strong>{{ t.name }}</strong></td>
                                <td>{{ t.version }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if credential %}
                <table class="table">
                    <caption>Credentials</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Username</th>
                            <th scope="col">Secret</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in credential %}
                            <tr>
                                <td><strong>{{ c.email }}</strong></td>
                                <td><strong>{{ c.username }}</strong></td>
                                <td><strong>{{ c.secret }}</strong></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if vulnerability %}
                <table class="table">
                    <caption>Vulnerabilities</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Tecnhology</th>
                            <th scope="col">Enumeration</th>
                            <th scope="col">Name</th>
                            <th scope="col">Severity</th>
                            <th scope="col">CVE</th>
                            <th scope="col">Reference</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in vulnerability %}
                            <tr>
                                {% if v.technology %}
                                    <td><strong>{{ v.technology.name }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if v.enumeration and v.enumeration.host %}
                                    <td><strong>{{ v.enumeration.host.address }} - {{ v.enumeration.port }}</strong></td>
                                {% elif v.enumeration %}
                                    <td><strong>{{ v.enumeration.port }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><strong>{{ v.name }}</strong></td>
                                <td>{{ v.severity }}</td>
                                <td><strong>{{ v.cve }}</strong></td>
                                {% if v.reference %}
                                    <td><a href="{{ v.reference }}">Link</a></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            <br>
            {% if exploit %}
                <table class="table">
                    <caption>Exploits</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Vulnerability</th>
                            <th scope="col">Technology</th>
                            <th scope="col">Title</th>
                            <th scope="col">Exploit DB</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in exploit %}
                            <tr>
                                {% if e.vulnerability %}
                                    <td><strong>{{ e.vulnerability.name }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                {% if e.technology %}
                                    <td><strong>{{ e.technology.name }}</strong></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td><strong>{{ e.title }}</strong></td>
                                <td><a href="{{ e.reference }}">{{ e.edb_id }}</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </body>
</html>